/* SMALL */

/* these are the occurrences in .icon-sm */

/* navbar-icons */
/* title.blade.php */
/* posts/show.blade.php */
/* Suggestions in homepage */
/* following.blade.php */
/* follower.blade.php */


.icon-sm {
   font-size: 2rem;
}

/*  delete post(modal) */
/*  delete post(modal) */
/*  delete post(modal) */


.image-lg{
   width: 9rem;
   height: 9rem;
   object-fit:cover;
}


/* like button */
.fa-heart{
   font-size: 1.5rem;
}

/* EXTRA SMALL FONT SIZE */
/* date - body.blade.php */
/* date, delete - comment.blade.php */
/* date - posts/show.blade.php */
/* subtext - suggestions.blade.php */
.xsmall{
   font-size:0.65rem
}

.icon-lg {
   font-size: 9rem;
}

.icon-md {
   font-size: 3.5rem;
}

.grid-img{
   width: 100%;
   height: 300px;
   object-fit: cover;
}

.avatar-lg {
   width: 9rem;
   height: 9rem;
   object-fit: cover;
}

.avatar-md {
   width: 3.5rem;
   height: 3.5rem;
   object-fit: cover;
}

.avatar-sm {
   width: 2rem;
   height: 2rem;
   object-fit: cover;
}